[submodule "Calend3/backend/lib/forge-std"]
	path = Calend3/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "NumberGuessingGame/backend/lib/forge-std"]
	path = NumberGuessingGame/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
